/**
 * @ Author: Fellipe M Fumagali Scirea
 * @ BCIT Student # : A01181350
 * @ Created: 11-27-2025
 * @ Description: COMP 2132 Final Assignment - Deliverable as part of coursework.
 */

@layer layout {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem clamp(1rem, 4vw, 2rem);
        border-bottom: 1px solid var(--color-border-subtle);
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
    }

    @media (min-width: 1024px) {
        .site-header {
            //adjusting the page layout to wide screens
            max-width: var(--max-line);
            margin-inline: auto;
        }
    }

    // brand block aligns icon + title horizontally
    .brand {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .site-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 0.75rem;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: clamp(1rem, 4vw, 2rem);
        max-width: var(--layout-max-content-width);
        margin-inline: auto;
        align-items: stretch;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, minmax(28rem, 1fr));
            justify-content: center;
            gap: 1.25rem;
        }

    }

    .site-footer {
        max-width: var(--layout-max-content-width);
        margin: 2rem auto;
        padding: 0 2rem 2rem;
        text-align: center;
    }
}