/**
 * @ Author: Fellipe M Fumagali Scirea
 * @ BCIT Student # : A01181350
 * @ Created: 11-27-2025
 * @ Description: COMP 2132 Final Project - Deliverable as part of coursework.
 */

@mixin focus-ring($color, $size: 3px) {
    box-shadow: 0 0 0 $size $color;
    outline: none;

}